{% extends "base.html.twig" %}
{% block title %}
	ShowController
{% endblock %}
{% block body %}

	  <div>
      <h1> {{ post.title }} </h1>
      <em> {{ post.category }} </em>
      <img src="{{ '/uploads/' ~ post.image }}"/>
    </div>

{% endblock %}
